body{
    background-color: aqua;
}

.top{
margin-top: 40px;
padding-top: 10px;

}
.letter{
    color: gray;
    padding-top: 30px;
}
.letter1{
    color: black;
}
h5{
    padding-top: 5px;
    padding-bottom: 15px;
    margin-top: 30px;
}
.row g-3 needs-validation{
    padding-top: 5px;
}

.middle top img{

}
.bottom-top h6{
  margin-top: 60px;  

}